<div class="row">
  <div class="col"></div>
  <div class="col-5">
    <div class="card mt-5 form-card">
      <div class="card-header">
        <h4 class="text-center font-weight-bold"> Додати друга </h4>
      </div>
      <div class="card-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>